@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFC806;
    color: #1F1F1D;
}

.header {
    height: 40rem;
} 

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 5rem;
    position: absolute;
    top: 2rem;
} 

.header__title {
    font-family: 'Playfair Display', serif;
    font-size: 5.25rem;
    margin-bottom: 0;
} 

.header__subtitle {
    font-size: 2.25rem;
    font-weight: 300;
    margin-top: 0.8rem;
} 
