@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #1A1A1A;
  --gray: #8a8a8a;
}

.darkMode {
  --white: #1A1A1A;
  --black: #fff;
  --gray: #8a8a8a;
}

.txt-black {
  color: var(--black);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.slideUp {
  animation: slide-up 1s ease-in-out;
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  height: 5.375rem;
  position: fixed;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid var(--gray);
  background-color: var(--white);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .container .logo {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}
.header .container .nav ul {
  display: flex;
  gap: 2rem;
}
.header .container .nav ul li {
  list-style: none;
}
.header .container .nav ul li a {
  color: var(--black);
  text-decoration: none;
  position: relative;
}
.header .container .nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 1rem;
  transition: 0.4s;
}
.header .container .nav ul li a:hover::after {
  width: 50%;
}
.header .container .theme i {
  margin-left: 0.4rem;
  color: var(--black);
  cursor: pointer;
  font-size: 1.1rem;
}
.header .container .burger-wrapper {
  display: none;
}

@media screen and (max-width: 600px) {
  .header .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #239cff;
    display: none;
    transition: 0.4s;
  }
  .header .nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .header .nav ul li {
    margin: 1rem 0;
  }
  .header .nav ul li a {
    font-size: 2rem;
    color: #fff !important;
  }
  .header .burger-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    display: flex !important;
  }
  .header .burger-wrapper .burger {
    width: 2rem;
    height: 2px;
    background-color: var(--black);
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
  }
  .header .burger-wrapper .burger::before, .header .burger-wrapper .burger::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2px;
    background-color: var(--black);
  }
  .header .burger-wrapper .burger::before {
    transform: translateY(-10px);
  }
  .header .burger-wrapper .burger::after {
    transform: translateY(10px);
  }
  .header .burger-wrapper.active .burger {
    transform: translateX(-50px);
    background: transparent;
  }
  .header .burger-wrapper.active .burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .header .burger-wrapper.active .burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .header .theme {
    margin-right: 2rem;
  }
}
.hero {
  padding-top: 5.327rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero h1 {
  font-weight: 500;
  color: var(--gray);
  font-size: 3rem;
  padding: 0 0.5rem;
}

.about {
  height: 100vh;
  padding-top: 5.273rem;
}
.about h2 {
  margin-bottom: 3rem;
  color: var(--black);
}
.about p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--gray);
}
@media screen and (max-width: 600px) {
  .about .container {
    padding: 0 2rem;
  }
}

.skills {
  height: 60vh;
}
.skills .skills-icons {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-top: 7rem;
  gap: 3rem;
}
.skills .skills-icons i {
  font-size: 4rem;
  text-align: center;
}

.portfolio {
  height: auto;
  padding-bottom: 3rem;
}
.portfolio .portfolio-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 3rem;
  margin-top: 5rem;
}
.portfolio .portfolio-cards .cards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 0.4rem;
  position: relative;
}
.portfolio .portfolio-cards .cards__card img {
  border-radius: 0.4rem;
  filter: grayscale(1);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.portfolio .portfolio-cards .cards__card img:hover {
  filter: grayscale(0);
  opacity: 0.9;
}
.portfolio .portfolio-cards .cards__card a {
  position: absolute;
  font-size: 1.3rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0.7rem;
  bottom: 0;
  text-decoration: none;
  transition: 0.4s;
}
.portfolio .portfolio-cards .cards__card a:hover {
  padding: 0.7rem 2rem;
}/*# sourceMappingURL=main.css.map */