.hero {
    position: relative;
    top: 5.375rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h1 {
        font-weight: 500;
        color: #8a8a8a;
        font-size: 3rem;
        padding: 0 0.5rem;

        .txt-black {
            color: #1A1A1A;
            font-weight: 600;
        }
    }
}