@import 'reset';
@import 'navbar';

.hero {
    padding-top: 5.327rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    h1 {
        font-weight: 500;
        color: var(--gray);
        font-size: 3rem;
        padding: 0 0.5rem;
    }
}

.about {
    height: 100vh;
    padding-top: 5.273rem;

    .container{ 
        padding: 0 5rem;
    }

    h2 {
        margin-bottom: 3rem;
        color: var(--black);
    }

    p {
        line-height: 2;
        font-size: 1.5rem;
        color: var(--gray);
    }

    @media screen and (max-width: 600px) {
        .container {
            padding: 0 2rem;
        }
    }
}