@import 'reset';
@import 'navbar';

.hero {
    padding-top: 5.327rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-weight: 500;
        color: var(--gray);
        font-size: 3rem;
        padding: 0 0.5rem;
    }
}

.about {
    height: auto;
    padding-bottom: 7rem;
    
    h2 {
        margin-bottom: 3rem;
        color: var(--black);
    }

    p {
        line-height: 2;
        font-size: 1.5rem;
        color: var(--gray);
    }
}

.skills {
    height: auto;
    padding-bottom: 6rem;

    .skills-icons {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        margin-top: 7rem;
        gap: 3rem;

        i {
            font-size: 4rem;
            text-align: center;
        }
    }
    
}

.portfolio {
    height: auto;
    padding-bottom: 6rem;
    
    .portfolio-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 3rem;
        margin-top: 5rem;
        
        .cards__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--black);
            border-radius: 0.4rem;
            position: relative;
            
            img {
                border-radius: 0.4rem;
                filter: grayscale(1);
                opacity: 0.6;
                width: 100%;
                height: 100%;
                transition: 0.4s;
                
                &:hover {
                    filter: grayscale(0);
                    opacity: 0.9;
                }
            }
            
            a {
                position: absolute;
                background-color: var(--black);
                color: var(--white);
                padding: 0.7rem;
                bottom: 0;
                text-decoration: none;
                transition: 0.4s;
                font-weight: 300;
                
                &:hover {
                    padding: 0.7rem 2rem;
                }
            }
        }
    }

    @media (max-width: 800px) {
        .portfolio-cards {
            grid-template-columns: 1fr;

            .cards__card {
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.contact {
    height: 60vh;
    
    .contact-options {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        margin-top: 7rem;
        gap: 3rem;
        
        a {
            color: var(--black);

            i {
                font-size: 3rem;
                text-align: center;
            }
        }
        
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: var(--gray);
}

@import 'responsive';